#email {
    padding: 50px;
    margin: 50px;
    width: 500px;
    border: 2px;
    box-sizing: border-box;
    background-color: blanchedalmond;
}

#confidential, #top-secret{
    display: inline-block;
    padding: 20px;
    border: 10px solid red
}

#confidential{
    transform: rotate(45deg);
    margin-left: 10px;
}

#top-secret{
    transform: rotate(345deg);
    margin-left: 200px;
}

.blurred{
    filter: blur(3px);
}